body.intro {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  
  color: white;
  background: linear-gradient(90deg, midnightblue, mediumblue, blue, midnightblue);
}

body.web-app {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  color: white;
  background: linear-gradient(90deg, darkgreen, seagreen, palegreen, darkgreen);
}

a {
  display: block;
  font-size: 125%;
  color: lightskyblue;
  text-decoration: none;
  margin: 20px 0px;
}

spacer {
  padding: 0px 25px;
  white-space: pre;
}

.grid {
  display: grid;
  grid-template-columns: 15% 50%;
}

.left {
  grid-column: 1 / 1;
}

.right {
  grid-column: 2 / 2;
}

h1 {
  letter-spacing: 1px;
}

.name {
  letter-spacing: 1px;
}

.url {
  letter-spacing: 2px;
}

pre {
  font-family: monospace;
  background: midnightblue;
  
  border: solid white 2px;
  border-radius: 8px;
  
  padding: 30px 10px;
}
